In [1]:
from sklearn.metrics import classification_report
import tensorflow as tf
import pandas as pd
from tensorflow import keras
from sklearn import preprocessing
from dask import dataframe as dd
from dask_ml import model_selection as md
from dask_ml import preprocessing as pr
import ipaddress as ip
from time import sleep

2022-12-23 11:14:47.296652: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 AVX512F AVX512_VNNI FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2022-12-23 11:14:47.792345: I tensorflow/core/util/port.cc:104] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2022-12-23 11:14:47.863595: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-12-23 11:14:47.863615: I tensorflow/compiler/xla/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.
2022-12-23 11:14:49.010505: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer.so.7'; dlerror: libnvinfer.so.7: cannot open shared object file: No such file or directory
2022-12-23 11:14:49.010567: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer_plugin.so.7'; dlerror: libnvinfer_plugin.so.7: cannot open shared object file: No such file or directory
2022-12-23 11:14:49.010571: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Cannot dlopen some TensorRT libraries. If you would like to use Nvidia GPU with TensorRT, please make sure the missing libraries mentioned above are installed properly.

In [2]:
months = {
  'Jan' : 1,
  'Feb' : 2,
  'Mar' : 3,
  'Apr' : 4,
  'May' : 5,
  'Jun' : 6,
  'Jul' : 7,
  'Aug' : 8,
  'Sep' : 9,
  'Oct' : 10,
  'Nov' : 11,
  'Dec' : 12
}

In [3]:
def convert_timestamp_c_to_python(timestamp: str) -> str:
  times = timestamp.split(' ')
  data = f'{times[2]}/{months[times[1]]}/{times[4]} {times[3]}'
  return data

In [4]:
def splitDate(row):
  time = row
  time_values = time.split(' ')
  time_date = time_values[0].split('/')
  time_complete = time_values[1].split(':')
  # time_half = time_values[2]
  time_bind = ''
  for date in time_date:
    time_bind += date
  for complete in time_complete:
    time_bind += complete
  # if time_half == "AM":
  #   time_bind += '0'
  # else:
  #   time_bind += '12'
  # print(time_bind)
  return int(time_bind)

In [5]:
string = 'Fri Dec 23 05:02:50 2022'
string = convert_timestamp_c_to_python(string)
string = splitDate(string)
print(string)

23122022050250

In [6]:
def ip_str_to_int(entrada):
  retorno = int(ip.ip_address(entrada))
  return retorno

In [7]:
model = tf.keras.models.load_model('trabalho_22_12_5f.h5')

2022-12-23 11:14:50.969351: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcuda.so.1'; dlerror: libcuda.so.1: cannot open shared object file: No such file or directory
2022-12-23 11:14:50.970221: W tensorflow/compiler/xla/stream_executor/cuda/cuda_driver.cc:265] failed call to cuInit: UNKNOWN ERROR (303)
2022-12-23 11:14:50.970256: I tensorflow/compiler/xla/stream_executor/cuda/cuda_diagnostics.cc:156] kernel driver does not appear to be running on this host (arch): /proc/driver/nvidia/version does not exist
2022-12-23 11:14:50.970820: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 AVX512F AVX512_VNNI FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [8]:
csv = pd.read_csv('pcap.csv')

In [9]:
csv.head()

,Timestamp,Src IP,Dst IP,Src Port,Tot Fwd Pkts
0,Fri Dec 23 11:14:45 2022,52.114.195.26,192.168.5.144,165.0,178.0
1,Fri Dec 23 11:14:45 2022,0.0.0.0,255.255.255.255,148.0,164.0
2,Fri Dec 23 11:14:45 2022,52.114.195.26,192.168.5.144,165.0,172.0
3,Fri Dec 23 11:14:45 2022,192.168.5.144,52.114.195.26,282.0,90.0
4,Fri Dec 23 11:14:45 2022,52.114.195.26,192.168.5.144,165.0,181.0

In [10]:
string = csv["Timestamp"][0]
string = convert_timestamp_c_to_python(string)
string = splitDate(string)
print(string)

23122022111445

In [11]:
mip = csv["Src IP"][0]
mip = ip_str_to_int(mip)
print(mip)

879936282

In [12]:
csv.tail()

,Timestamp,Src IP,Dst IP,Src Port,Tot Fwd Pkts
1072,Fri Dec 23 11:14:50 2022,52.114.195.26,192.168.5.144,165.0,167.0
1073,Fri Dec 23 11:14:50 2022,192.168.5.144,52.114.195.26,282.0,94.0
1074,Fri Dec 23 11:14:50 2022,52.114.195.26,192.168.5.144,165.0,178.0
1075,Fri Dec 23 11:14:50 2022,52.114.195.26,192.168.5.144,165.0,181.0
1076,Fri Dec 23 11:14:50 2022,52.114.195.26,192.168,NaN,NaN

In [13]:
csv.drop(csv.tail(1).index,inplace=True)
csv.tail(1)

,Timestamp,Src IP,Dst IP,Src Port,Tot Fwd Pkts
1075,Fri Dec 23 11:14:50 2022,52.114.195.26,192.168.5.144,165.0,181.0

In [14]:
csv['Src Port'] = csv['Src Port'].astype(int)
csv['Tot Fwd Pkts'] = csv['Tot Fwd Pkts'].astype(int)

In [15]:
csv['Timestamp'] = csv['Timestamp'].apply(lambda value : splitDate(convert_timestamp_c_to_python(value)))

In [16]:
csv.tail()

           Timestamp         Src IP         Dst IP  Src Port  Tot Fwd Pkts
1071  23122022111450  52.114.195.26  192.168.5.144       165           150
1072  23122022111450  52.114.195.26  192.168.5.144       165           167
1073  23122022111450  192.168.5.144  52.114.195.26       282            94
1074  23122022111450  52.114.195.26  192.168.5.144       165           178
1075  23122022111450  52.114.195.26  192.168.5.144       165           181

In [17]:
csv['Src IP'] = csv['Src IP'].apply(lambda value : ip_str_to_int(value))
csv['Dst IP'] = csv['Dst IP'].apply(lambda value : ip_str_to_int(value))

In [18]:
csv.tail()

           Timestamp      Src IP      Dst IP  Src Port  Tot Fwd Pkts
1071  23122022111450   879936282  3232236944       165           150
1072  23122022111450   879936282  3232236944       165           167
1073  23122022111450  3232236944   879936282       282            94
1074  23122022111450   879936282  3232236944       165           178
1075  23122022111450   879936282  3232236944       165           181

In [19]:
print(model.predict(csv))

34/34 [==============================] - 0s 919us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]]

In [20]:
while True:
  sleep(1)
  teste = pd.read_csv('pcap.csv')
  teste.drop(teste.tail(1).index,inplace=True)
  teste['Src Port'] = teste['Src Port'].astype(int)
  teste['Tot Fwd Pkts'] = teste['Tot Fwd Pkts'].astype(int)
  teste['Src IP'] = teste['Src IP'].apply(lambda value : ip_str_to_int(value))
  teste['Dst IP'] = teste['Dst IP'].apply(lambda value : ip_str_to_int(value))
  teste['Timestamp'] = teste['Timestamp'].apply(lambda value : splitDate(convert_timestamp_c_to_python(value)))
  predict = model.predict(teste)
  print(predict, len(predict))

40/40 [==============================] - 0s 636us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 1279
45/45 [==============================] - 0s 617us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 1414
47/47 [==============================] - 0s 631us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 1481
51/51 [==============================] - 0s 625us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 1616
55/55 [==============================] - 0s 596us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 1750
59/59 [==============================] - 0s 610us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 1884
61/61 [==============================] - 0s 647us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 1952
64/64 [==============================] - 0s 621us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 2019
70/70 [==============================] - 0s 556us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 2221
72/72 [==============================] - 0s 677us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 2289
76/76 [==============================] - 0s 588us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 2423
78/78 [==============================] - 0s 630us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 2491
83/83 [==============================] - 0s 680us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 2626
85/85 [==============================] - 0s 631us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 2693
93/93 [==============================] - 0s 616us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 2960
95/95 [==============================] - 0s 590us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 3028
104/104 [==============================] - 0s 684us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 3300
106/106 [==============================] - 0s 541us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 3368
108/108 [==============================] - 0s 665us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 3437
110/110 [==============================] - 0s 659us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 3505
112/112 [==============================] - 0s 608us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 3572
114/114 [==============================] - 0s 483us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 3639
118/118 [==============================] - 0s 468us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 3774
123/123 [==============================] - 0s 469us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 3909
125/125 [==============================] - 0s 603us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 3977
127/127 [==============================] - 0s 658us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 4044
129/129 [==============================] - 0s 596us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 4112
133/133 [==============================] - 0s 670us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 4247
135/135 [==============================] - 0s 504us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 4315
140/140 [==============================] - 0s 622us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 4450
142/142 [==============================] - 0s 568us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 4518
146/146 [==============================] - 0s 664us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 4652
150/150 [==============================] - 0s 477us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 4789
152/152 [==============================] - 0s 587us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 4857
154/154 [==============================] - 0s 617us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 4924
161/161 [==============================] - 0s 638us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 5127
163/163 [==============================] - 0s 572us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 5195
167/167 [==============================] - 0s 565us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 5331
169/169 [==============================] - 0s 581us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 5398
171/171 [==============================] - 0s 559us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 5466
175/175 [==============================] - 0s 566us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 5600
178/178 [==============================] - 0s 574us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 5668
180/180 [==============================] - 0s 513us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 5735
182/182 [==============================] - 0s 529us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 5803
184/184 [==============================] - 0s 518us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 5870
190/190 [==============================] - 0s 508us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 6073
192/192 [==============================] - 0s 568us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 6140
194/194 [==============================] - 0s 563us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 6208
194/194 [==============================] - 0s 589us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 6208
197/197 [==============================] - 0s 563us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 6275
199/199 [==============================] - 0s 563us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 6343
201/201 [==============================] - 0s 535us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 6410
201/201 [==============================] - 0s 543us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 6410
201/201 [==============================] - 0s 583us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 6410
205/205 [==============================] - 0s 555us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 6546
205/205 [==============================] - 0s 536us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 6546
205/205 [==============================] - 0s 537us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 6546
207/207 [==============================] - 0s 562us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 6614
207/207 [==============================] - 0s 551us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 6614
207/207 [==============================] - 0s 530us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 6614
209/209 [==============================] - 0s 546us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 6682
209/209 [==============================] - 0s 535us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 6682
209/209 [==============================] - 0s 520us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 6682
211/211 [==============================] - 0s 506us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 6750
211/211 [==============================] - 0s 506us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 6750
214/214 [==============================] - 0s 507us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 6818
214/214 [==============================] - 0s 510us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 6818
214/214 [==============================] - 0s 510us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 6818
216/216 [==============================] - 0s 512us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 6886
216/216 [==============================] - 0s 516us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 6886
216/216 [==============================] - 0s 502us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 6886
218/218 [==============================] - 0s 525us/step
[[0.011153]
 [0.011153]
 [0.011153]
 ...
 [0.011153]
 [0.011153]
 [0.011153]] 6954

KeyboardInterrupt: