In [1]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
import tensorflow as tf
from sklearn import preprocessing
from dask import dataframe as dd
from dask_ml import model_selection as md
from dask_ml import preprocessing as pr
import ipaddress as ip

2022-11-25 11:33:56.336947: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 AVX512F AVX512_VNNI FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2022-11-25 11:33:56.513887: I tensorflow/core/util/port.cc:104] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2022-11-25 11:33:56.518804: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-11-25 11:33:56.518817: I tensorflow/compiler/xla/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.
2022-11-25 11:33:56.950742: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer.so.7'; dlerror: libnvinfer.so.7: cannot open shared object file: No such file or directory
2022-11-25 11:33:56.950791: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer_plugin.so.7'; dlerror: libnvinfer_plugin.so.7: cannot open shared object file: No such file or directory
2022-11-25 11:33:56.950795: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Cannot dlopen some TensorRT libraries. If you would like to use Nvidia GPU with TensorRT, please make sure the missing libraries mentioned above are installed properly.

In [2]:
# Load csv
balanced = dd.read_csv('./ddos_attack/ddos_balanced/final_dataset.csv')
balanced.tail(100)

,Unnamed: 0,Flow ID,Src IP,Src Port,Dst IP,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
117132,208541,172.217.10.10-192.168.10.12-443-55382-6,172.217.10.10,443,192.168.10.12,55382,6,03/07/2017 10:02:32 PM,10101,1,...,0,0.0,0.0000,0.0,0.0,0.0,0.000000,0.0,0.0,Benign
117133,7732297,162.242.237.105-172.31.67.19-57969-3389-6,162.242.237.105,57969,172.31.67.19,3389,6,20/02/2018 11:51:07,2796250,10,...,20,0.0,0.0000,0.0,0.0,0.0,0.000000,0.0,0.0,Benign
117134,360249,192.168.10.3-192.168.10.8-53-64198-17,192.168.10.8,64198,192.168.10.3,53,17,03/07/2017 10:51:02 PM,122922,1,...,0,0.0,0.0000,0.0,0.0,0.0,0.000000,0.0,0.0,Benign
117135,5389094,172.31.68.23-74.117.206.68-52611-443-6,172.31.68.23,52611,74.117.206.68,443,6,20/02/2018 03:34:47,118827448,49,...,20,1925202.0,993609.2963,3968618.0,11590.0,9956383.6,17355.771728,10003751.0,9937199.0,Benign
117136,1998258,169.254.169.254-172.31.64.109-80-52924-6,172.31.64.109,52924,169.254.169.254,80,6,20/02/2018 04:19:09,1127,3,...,20,0.0,0.0000,0.0,0.0,0.0,0.000000,0.0,0.0,Benign
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117227,1725894,172.31.67.50-209.85.203.113-53598-80-6,209.85.203.113,80,172.31.67.50,53598,6,20/02/2018 05:14:52,50,1,...,20,0.0,0.0000,0.0,0.0,0.0,0.000000,0.0,0.0,Benign
117228,5681778,172.31.69.17-108.174.10.14-54599-443-6,172.31.69.17,54599,108.174.10.14,443,6,20/02/2018 03:08:35,306,3,...,20,0.0,0.0000,0.0,0.0,0.0,0.000000,0.0,0.0,Benign
117229,6395326,172.31.0.2-172.31.65.49-53-61087-17,172.31.65.49,61087,172.31.0.2,53,17,20/02/2018 01:03:19,362,1,...,8,0.0,0.0000,0.0,0.0,0.0,0.000000,0.0,0.0,Benign
117230,4926899,172.31.0.2-172.31.67.58-53-61580-17,172.31.67.58,61580,172.31.0.2,53,17,20/02/2018 12:43:11,303,1,...,8,0.0,0.0000,0.0,0.0,0.0,0.000000,0.0,0.0,Benign
117231,7656685,169.254.169.254-172.31.65.89-80-49393-6,172.31.65.89,49393,169.254.169.254,80,6,20/02/2018 09:55:40,54,2,...,20,0.0,0.0000,0.0,0.0,0.0,0.000000,0.0,0.0,Benign

In [3]:
balanced.columns

Index(['Unnamed: 0', 'Flow ID', 'Src IP', 'Src Port', 'Dst IP', 'Dst Port',
       'Protocol', 'Timestamp', 'Flow Duration', 'Tot Fwd Pkts',
       'Tot Bwd Pkts', 'TotLen Fwd Pkts', 'TotLen Bwd Pkts', 'Fwd Pkt Len Max',
       'Fwd Pkt Len Min', 'Fwd Pkt Len Mean', 'Fwd Pkt Len Std',
       'Bwd Pkt Len Max', 'Bwd Pkt Len Min', 'Bwd Pkt Len Mean',
       'Bwd Pkt Len Std', 'Flow Byts/s', 'Flow Pkts/s', 'Flow IAT Mean',
       'Flow IAT Std', 'Flow IAT Max', 'Flow IAT Min', 'Fwd IAT Tot',
       'Fwd IAT Mean', 'Fwd IAT Std', 'Fwd IAT Max', 'Fwd IAT Min',
       'Bwd IAT Tot', 'Bwd IAT Mean', 'Bwd IAT Std', 'Bwd IAT Max',
       'Bwd IAT Min', 'Fwd PSH Flags', 'Bwd PSH Flags', 'Fwd URG Flags',
       'Bwd URG Flags', 'Fwd Header Len', 'Bwd Header Len', 'Fwd Pkts/s',
       'Bwd Pkts/s', 'Pkt Len Min', 'Pkt Len Max', 'Pkt Len Mean',
       'Pkt Len Std', 'Pkt Len Var', 'FIN Flag Cnt', 'SYN Flag Cnt',
       'RST Flag Cnt', 'PSH Flag Cnt', 'ACK Flag Cnt', 'URG Flag Cnt',
       'CWE Flag Count', 'ECE Flag Cnt', 'Down/Up Ratio', 'Pkt Size Avg',
       'Fwd Seg Size Avg', 'Bwd Seg Size Avg', 'Fwd Byts/b Avg',
       'Fwd Pkts/b Avg', 'Fwd Blk Rate Avg', 'Bwd Byts/b Avg',
       'Bwd Pkts/b Avg', 'Bwd Blk Rate Avg', 'Subflow Fwd Pkts',
       'Subflow Fwd Byts', 'Subflow Bwd Pkts', 'Subflow Bwd Byts',
       'Init Fwd Win Byts', 'Init Bwd Win Byts', 'Fwd Act Data Pkts',
       'Fwd Seg Size Min', 'Active Mean', 'Active Std', 'Active Max',
       'Active Min', 'Idle Mean', 'Idle Std', 'Idle Max', 'Idle Min', 'Label'],
      dtype='object')

In [4]:
balanced.isna().sum()

Dask Series Structure:
npartitions=1
ACK Flag Cnt    int64
Unnamed: 0        ...
dtype: int64
Dask Name: dataframe-sum-agg, 4 graph layers

In [5]:
balanced = balanced.dropna()

In [6]:
def splitDate(row):
  time = row["Timestamp"]
  time_values = time.split(' ')
  time_date = time_values[0].split('/')
  time_complete = time_values[1].split(':')
  # time_half = time_values[2]
  time_bind = ''
  for date in time_date:
    time_bind += date
  for complete in time_complete:
    time_bind += complete
  # if time_half == "AM":
  #   time_bind += '0'
  # else:
  #   time_bind += '12'
  # print(time_bind)
  return int(time_bind)

In [7]:
# Define X and y
# "Timestamp" removed and "Flow ID"
columns = ["Timestamp" ,"Fwd Seg Size Min", "Src IP", "Dst IP", "Flow IAT Min", "Src Port", "Tot Fwd Pkts","Init Bwd Win Byts"]
# columns = ["Fwd Seg Size Min", "Flow IAT Min", "Src Port", "Tot Fwd Pkts","Init Bwd Win Byts"]
# for column in columns:
#     print(True) if column in balanced.columns else print(column)
X, y =  balanced.loc[:, columns], balanced.iloc[:, 84]
X["Src IP"] = X.apply(lambda row: int(ip.ip_address(row["Src IP"])), axis=1, meta=(X.all()))
X["Src IP"] = X["Src IP"].astype(int)
X["Dst IP"] = X.apply(lambda row: int(ip.ip_address(row["Dst IP"])), axis=1, meta=(X.all()))
X["Dst IP"] = X["Dst IP"].astype(int)
X["Timestamp"] = X.apply(splitDate, axis=1, meta=(X.all()))
X["Timestamp"] = X["Timestamp"].astype(int)
X.tail()

,Timestamp,Fwd Seg Size Min,Src IP,Dst IP,Flow IAT Min,Src Port,Tot Fwd Pkts,Init Bwd Win Byts
117227,20022018051452,20,3512060785,2887729970,50.0,80,1,255
117228,20022018030835,20,2887730449,1823345166,145.0,54599,3,-1
117229,20022018010319,8,2887729457,2887712770,362.0,61087,1,-1
117230,20022018124311,8,2887729978,2887712770,303.0,61580,1,-1
117231,20022018095540,20,2887729497,2852039166,54.0,49393,2,-1

In [8]:
X = X.values
X

dask.array<values, shape=(nan, 8), dtype=float64, chunksize=(nan, 8), chunktype=numpy.ndarray>

In [9]:
y.head()

0    ddos
1    ddos
2    ddos
3    ddos
4    ddos
Name: Label, dtype: object

In [10]:
le = pr.LabelEncoder() # pr.LabelEncoder() #preprocessing.LabelEncoder()``
y = le.fit_transform(y)
y

dask.array<sum-aggregate, shape=(12764914,), dtype=int64, chunksize=(154902,), chunktype=numpy.ndarray>

In [ ]:
# Split train and test
X.compute_chunk_sizes()
X_train, X_test, y_train, y_test = train_test_split(X.compute(), y, test_size=0.3, random_state=42)

print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

In [ ]:
#mlp_model = MLPClassifier(hidden_layer_sizes=(50, 50), activation="relu",random_state=1)

In [ ]:
#clf = RandomForestClassifier(random_state=0)
#clf = LocalOutlierFactor(n_neighbors=2)

In [ ]:
#clf.fit(X_train, y_train)

In [ ]:
def h_swish(value):
  return value * tf.nn.relu6(value+3) * 0.16666667

In [ ]:
model = tf.keras.Sequential()
# activation=tf.keras.layers.Activation(h_swish, name="h_swish")
model.add(tf.keras.layers.Dense(32, activation="swish", input_shape=(8,)))
model.add(tf.keras.layers.Dense(64, activation="tanh"))
model.add(tf.keras.layers.Dense(32, activation="swish"))
model.add(tf.keras.layers.Dense(1, activation="sigmoid"))
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [ ]:
# This builds the model for the first time:
model.fit(X_train, y_train, batch_size=8, epochs=2)

In [ ]:
y_predict = model.predict(X_test)

119673/119673 [==============================] - 58s 480us/step

In [ ]:
tem_z = 0
tem_1 = 0
for i in range(len(y_predict)):
    if y_predict[i] < 0.5:
        y_predict[i] = 0
        tem_z += 1
    else:
        y_predict[i] = 1
        tem_1 += 1
print(tem_z, tem_1)

0 3829521

In [ ]:
print(classification_report(y_test, y_predict))

/home/eduardo/Desktop/programas/python/ddos/.env/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1334: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/home/eduardo/Desktop/programas/python/ddos/.env/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1334: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00   1887780
           1       0.51      1.00      0.67   1941741

    accuracy                           0.51   3829521
   macro avg       0.25      0.50      0.34   3829521
weighted avg       0.26      0.51      0.34   3829521

/home/eduardo/Desktop/programas/python/ddos/.env/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1334: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))